:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f9f9f9;
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --base-color: #6E6E6E;
  --menu-base-color: #6E6E6E;
  --menu-base-font-color: #ffffff;
  --base-background-color: #2D2F2F;
  
}

/*    全局基础样式    */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

/*    首页加载界面的样式    */
.start-containner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.logo {
    height: 12em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.download-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dialog-footer button:first-child {
    margin-right: 150px;
}

/*   面包屑层级菜单   */
.el-breadcrumb {
  height: 25px;
  line-height: 25px;
  margin-bottom: 6px;
  --el-text-color-placeholder: var(--menu-base-font-color);
}

.first-menu>.el-breadcrumb__inner {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: var(--menu-base-font-color);
}

.first-menu>.el-breadcrumb__inner:hover {
  color: var(--menu-base-color);
}

.second-menu>.el-breadcrumb__inner {
  cursor: default !important;
  color: var(--menu-base-font-color) !important;
}

/*     表单基础公共样式     */
.el-table {
  --el-table-header-bg-color: #ccc;
  border-radius: 12px;
}

.el-table th {
  color: #000;
}

.el-notification__content {
  max-height: 100px; /* 设置合适的高度 */
  overflow-y: auto; /* 垂直方向滚动 */
}

.el-notification__content::-webkit-scrollbar {
  display: none;
}

/*     全部程序上部搜索栏样式      */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  border-radius: 5px;
  background: radial-gradient(circle at 50% 50%, transparent, var(--base-color));
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left-title {
  margin-left: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right-search {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/*     页面整体基础样式     */
.apps-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.card-items-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  margin-right: 12px;
}

.card-items {
  padding: 10px;
  flex: 1;
  min-width: 180px;
  max-width: 210px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  background: radial-gradient(circle at 50% 50%, transparent, var(--base-color));
}

.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* 卡片上面元素样式 */
.card-container {
  width: 100%;
  border: none;
  position: relative;
  background: radial-gradient(circle at 50% 20%, var(--base-color), transparent);
}

.tag-diagonal {
    transform: rotate(-40deg);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    margin-left: -30px;
    margin-bottom: -6px;
    color: #6E6E6E;
    font-size: 12px;
    font-weight: bold;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  width: 100px;
  height: 100px;
}

.card-name {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  margin: 6px auto 3px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--menu-base-font-color);
}

.text-container {
    width: 100%;
    background-color: var(--base-background-color);
    color: var(--menu-base-font-color);
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden; /* 超出部分隐藏 */
    white-space: nowrap; /* 保持文字在一行显示 */
    position: relative; /* 相对定位，便于定位悬浮框 */
    text-align: center; /* 默认情况下文字居中显示 */
}

.text-content {
    display: inline-block;
    /* 动画由JS动态控制 */
}

.text-container:hover .text-content {
    /* 鼠标悬停时暂停滚动 */
    /* animation-play-state: paused; */
    animation: scroll-name 10s linear infinite;
}

.card-version {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  color: var(--menu-base-font-color);
}

.card-arch {
  font-size: 14px;
  color: var(--menu-base-font-color);
}

.card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.p-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-btn {
  height: 24px;
  width: 75%;
  background-color: var(--base-background-color);
  color: var(--menu-base-font-color);
  border: none;
  padding: 6px;
}

.p-card-btn {
  height: 24px;
  width: 58px;
  background-color: var(--base-background-color);
  color: var(--menu-base-font-color);
  border: none;
}

.card-btn:hover, .p-card-btn:hover {
  background-color: #999999;
  color: var(--menu-base-font-color);
}

@keyframes scroll-text {
  0% { /* 从右侧开始 */
    transform: translateX(100%);
  }
  100% {  /* 向左滚动 */
    transform: translateX(-100%);
  }
}

@keyframes scroll-name {
  0% { /* 从右侧开始 */
    transform: translateX(0);
  }
  100% { /* 向左滚动 */
    transform: translateX(-100%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #F4F4F4;
    --base-color: #C1C1C1;
    --menu-base-color: #C1C1C1;
    --menu-base-font-color: #2e2c2c;
    --base-background-color: #DCDCDC;
    
  }

  .first-menu>.el-breadcrumb__inner:hover {
    color: var(--base-color);
  }

  .el-table {
    --el-table-header-bg-color: #C1C1C1;
  }

  .card-items {
    border: 1px solid #ccc;
  }

  .card-container {
    border: 1px solid #ccc;
  }
      
  .tag-diagonal {
    color: #E2AB5F;
  }

}