:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f9f9f9;
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --base-color: #6E6E6E;
  --menu-base-color: #6E6E6E;
  --menu-base-font-color: #ffffff;
  --base-background-color: #2D2F2F;
}
/*    全局基础样式    */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
  height: 100%;
  position: relative;
}
/*   面包屑层级菜单   */
.el-breadcrumb {
  height: 25px;
  line-height: 25px;
  margin-bottom: 12px;
  --el-text-color-placeholder: var(--menu-base-font-color);
}
.first-menu > .el-breadcrumb__inner {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: var(--menu-base-font-color);
}
.first-menu > .el-breadcrumb__inner:hover {
  color: #E2AB5F;
}
.second-menu > .el-breadcrumb__inner {
  cursor: default !important;
  color: var(--menu-base-font-color) !important;
}
/*     表单基础公共样式     */
.el-table {
  --el-table-header-bg-color: #E2AB5F;
  border-radius: 12px;
}
.el-table th {
  color: #000;
}
.el-notification__content {  
  max-height: 100px; /* 设置合适的高度 */  
  overflow-y: auto; /* 垂直方向滚动 */  
}
.el-notification__content::-webkit-scrollbar {  
  display: none;  
}
/*     全部程序上部搜索栏样式      */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  border-radius: 5px;
  background: radial-gradient(circle at 50% 50%, transparent, #6E6E6E);
}
.header-left {
  display: flex;
  align-items: center;
}
.header-left-title {
  margin-left: 10px;
}
.header-right {
  display: flex;
  align-items: center;
}
.header-right-search {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
/*     页面整体基础样式     */
.apps-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.card-items-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(190px,1fr));
  margin-right: 12px;
}
.card-items {
  padding: 10px;
  flex: 1;
  min-width: 180px;
  max-width: 210px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  background: radial-gradient(circle at 50% 50%, transparent, var(--base-color));
}
.card-container {
  width: 100%;
  border: none;
  position: relative;
  background: radial-gradient(circle at 50% 20%, #6E6E6E, transparent);
}
.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.card-name {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  margin: 3px auto 3px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--menu-base-font-color);
}
.card-zh-name {
  background-color: #6d6d6d;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 16px;
  color: #E2E2E2;
  padding: 3px;
}
.card-version {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  color: var(--menu-base-font-color);
}
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-arch {
  font-size: 14px;
  color: white;
}
.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.install-btn {
  height: 24px;
  width: 58px;
  background-color: #7b7b7b;
  color: #c7bdbd;
  border: none;
}
.install-btn:hover {
  background-color: #c9c9ef;
  color: #2D2F2F;
}
.uninstall-btn {
  height: 24px;
  width: 58px;
  background-color: #E33C2F;
  color: white;
  border: none;
}
.uninstall-btn:hover {
  background-color: #c9c9ef;
  color: #2D2F2F;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #F4F4F4;
    --base-color: #E2AB5F;
    --menu-base-color: #C1C1C1;
    --menu-base-font-color: #000;
    --base-background-color: #DCDCDC;
  }
  .header {
    background: radial-gradient(circle at 50% 50%, transparent, #E2AB5F);
  }
  .card-items {
    border: 1px solid #ccc;
  }
  .card-container {
    border: 1px solid #ccc;
  }
}